/*

 ▄█▀▀▀▄█   ▄▄█▀▀██   ▀██▀  ▀█▀ ▀██▀▀█▄     ▄▄█▀▀▀▄█ ▀██▀▀▀▀█
 ██▄▄  ▀  ▄█▀    ██   ██    █   ██   ██  ▄█▀     ▀   ██  ▄
  ▀▀███▄  ██      ██  ██    █   ██▀▀█▀   ██          ██▀▀█
▄     ▀██ ▀█▄     ██  ██    █   ██   █▄  ▀█▄      ▄  ██
█▀▄▄▄▄█▀   ▀▀█▄▄▄█▀    ▀█▄▄▀   ▄██▄  ▀█▀  ▀▀█▄▄▄▄▀  ▄██▄▄▄▄▄█

*/

/* 😺 toolbar theming */
.wikiEditor-ui-toolbar {
	background: var(--less-dark-grey);
}
.wikiEditor-ui-toolbar .group,
.wikiEditor-ui-toolbar .sections .section,
.wikiEditor-ui .wikiEditor-ui-top,
.wikiEditor-ui .wikiEditor-ui-view,
div.editOptions {
	border-color: var(--more-dark-grey);
}
.wikiEditor-ui-toolbar .group .label {
	color: inherit;
}
div.editOptions {
	background: var(--less-dark-grey);
	color: inherit;
}
/* 😺 haha what if...... just kidding...... *unless?*
	.wikiEditor-ui-text{
		filter: invert(1);
	}
	*/

/*! ⏸️  mimic style of caution noticebox when in source editor */
body.action-edit:not(.ve-activated) .cdx-message--warning,
body.action-submit:not(.ve-activated) .cdx-message--warning {
	background-color: var(--background-color-warning-subtle, #202114);
	border: solid 3px #9e8600 !important;
	color: white;
	border-radius: 10px;
}
