@use "sass:list";
@use "../utilities.scss" as *;

$origins: (
	"x.com" "X",
	"twitter.com" "X",
	"youtube.com" "YouTube",
	"www.youtube.com" "YouTube",
	"youtu.be" "YouTube",
	"twitch.tv" "Twitch",
	"www.twitch.tv" "Twitch",
	"tiktok.com" "TikTok",
	"www.tiktok.com" "TikTok",
	// "steamdb.info" "SteamDB",
	"steamcommunity.com" "Steam",
	"store.steampowered.com" "Steam",
	"discord.com" "Discord",
	"discord.gg" "Discord",
	"github.com" "GitHub",
	"medium.com" "Medium",
	"archive.org" "Archive",
	"web.archive.org" "Archive"
);

@each $origin
	in (
		"ask.vrchat.com",
		"creators.vrchat.com",
		"docs.vrchat.com",
		"feedback.vrchat.com",
		"hello.vrchat.com",
		"help.vrchat.com",
		"medium.com/vrchat",
		"medium.com/@vrchat",
		"vrch.at",
		"vrchat.com"
	)
{
	$origins: list.append($origins, ($origin "VRChat"), comma);
}

.mw-parser-output a.external,
.link-mailto,
.link-ftp,
.link-irc,
.link-audio,
.link-video,
.link-document {
	background: none !important;
	padding: 0 !important;
}

@mixin external-link($icon-url, $filter: null) {
	&::before {
		content: "" !important;
		display: inline-block !important;

		width: 1em !important;
		height: 1em !important;

		margin-right: 0.25em !important;
		transform: translateY(3px);

		background-position: center !important;
		background-repeat: no-repeat !important;
		background-size: contain !important;
		background-image: url($icon-url) !important;

		filter: $filter !important;
		border-radius: 0.25em;
	}
}

a:not(.icon-none, .code-link, .icon-none *, .plainlinks *) {
	&.external {
		@include external-link(
			"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtZXh0ZXJuYWwtbGluayI+PHBhdGggZD0iTTE1IDNoNnY2Ii8+PHBhdGggZD0iTTEwIDE0IDIxIDMiLz48cGF0aCBkPSJNMTggMTN2NmEyIDIgMCAwIDEtMiAySDVhMiAyIDAgMCAxLTItMlY4YTIgMiAwIDAgMSAyLTJoNiIvPjwvc3ZnPg=="
		);
	}

	@each $origin, $icon-name, $filter in $origins {
		&[href="https://#{$origin}"],
		&[href^="https://#{$origin}/"] {
			$filename: local-file("Favicon_#{$icon-name}.webp");
			@include external-link($filename, $filter);
		}
	}
}
